@import "tailwindcss";

:root {
  --background: #1b7162;
  --foreground: #f7f7f7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  text-wrap-style: pretty;
}
